doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title BLOG-IT
    link(rel='stylesheet', href='../bower-components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/font-awesome.min.css')
    link(rel='stylesheet', href='../css/styles.css')
    style.
      .profile-coverpic{
      height: 50vh;
      background: #464646 url(#{user.CoverPic}) center no-repeat;
      background-size: cover;
      background-attachment: fixed;
      left: 0;
      right: 0;
      background-color: #464646;
      display: flex;
      flex-direction: column-reverse;
      }
      .profile-pic{
        height: 250px;
        width: 250px;
        border: 6px solid #fff;
        border-radius: 50%;
        background: #464646 url(#{user.ProfilePic}) center no-repeat;
        background-size: cover;
        margin-top: -110px;
      }
  body.profile
    nav.navbar.navbar-expand.navbar-light.nav-dark
      a#logo-light.navbar-brand(href='/') BLOG-IT
      div
        ul#my-nav-list.navbar-nav
          form.form-inline.my-lg-0.my-nav-item(method='POST',action='/search')
            .box
              .container-1
                span.icon
                  i.fa.fa-search
                input#search(type='search',name='Search' placeholder='Search...')
          li.nav-item.active.my-nav-item
            button.btn.btn-sm.btn-outline-primary.my-2.my-sm-0 Surprise Me!
          li.nav-item.active.my-nav-item
            button.btn.btn-sm.btn-outline-danger.my-2.my-sm-0 Trending!
    section#profile-cover
      form.new-post.hide-form#new-cover-pic(method='POST',action='/users/New-Cover-Pic',onchange="$('#new-cover-pic').submit();", encType="multipart/form-data")
        label.custom-file-upload
          <i class="fa fa-camera" aria-hidden="true"></i>
          input(name='Image', type='file')
      .profile-coverpic
        .profile-overlay
          .container.profile-stats
            .profile-pic
              form.new-post.hide-form#new-profile-pic(method='POST',action='/users/New-Profile-Pic',onchange="$('#new-profile-pic').submit();", encType="multipart/form-data")
                label.custom-file-upload
                  <i class="fa fa-camera" aria-hidden="true"></i>
                  input(name='Image', type='file')
            ul#profile-stats
              li
                ul
                  li #{user.Followers}
                  li Followers
              li
                ul
                  li #{user.Following}
                  li Following
              li
                ul
                  li #{user.Posts}
                  li Posts
              li
                ul
                  li 0
                  li Views
    section#profile-body
      .container
        .row
          .profile-left-column.col-lg-3
            if user
              h2 #{user.FirstName + ' ' + user.LastName}
            ul
              li
                a.btn.btn-block(href='#') Profile
              li
                a.btn.btn-block(href='/users/myPosts') My Posts
              li
                a.btn.btn-block(href='#') Explore
              li
                a.btn.btn-block(href='/users/logout') Logout
          .profile-right-column.col-lg-8
            .new-post-area
              h4 New Post
              .separator
              form.new-post#new-post-form(method='POST',action='/users/New-Post', encType="multipart/form-data")
                label.label-new-post-title(for='Title')
                  input.new-post-title#new-post-title(type='text', name='Title', placeholder='Title...')
                textarea.new-post-content#new-post-content(placeholder='Content...', name='Content')
                br
                label.btn.btn-outline-primary.custom-file-upload
                  input(name='Image', type='file')
                  |                 Add Image
                input.btn.btn-outline-danger.new-post-btn(type='submit', value='Post')
            if Posts
              each post, i in Posts
                if post.Image == 'no-image'
                  .card.mb-3
                    a(href="/users/post/"+post._id)
                      .card-body
                        h4.card-title #{post.Title}
                        p.card-text #{post.Content}
                    .card-footer
                      ul.card-footer-left
                        li
                          a(href='#') 00 Views
                        li
                          a(href='#') #{post.NoOfComments} Comments
                      ul.card-footer-right
                        li
                          small.text-muted Created at: #{moment(post.CreatedAt).format('LT Do MMM YY')}
                else
                  .card.mb-3
                    a(href="/users/post/"+post._id)
                      img.card-img-top(src='../users/'+post.UserId+'/images/'+post.Image, alt='Card image cap')
                      .card-body
                        h4.card-title #{post.Title}
                        p.card-text #{post.Content}
                    .card-footer
                      ul.card-footer-left
                        li
                          a(href='#') 00 Views
                        li
                          a(href='#') #{post.NoOfComments} Comments
                      ul.card-footer-right
                        li
                          small.text-muted Last updated 3 mins ago
                
    section
      #footer-reveal
    script(src='../bower-components/jquery/dist/jquery.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js', integrity='sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4', crossorigin='anonymous')
    script(src='../bower-components/bootstrap/dist/js/bootstrap.min.js')
    script(src='../js/Validation.js')
